GBDeviceInfo-master/GBDeviceInfo.xcodeproj/xcuserdata/taras.xcuserdatad/xcschemes/GBDeviceInfo-OSX.xcscheme
GBDeviceInfo-master/GBDeviceInfo.xcodeproj/xcuserdata/taras.xcuserdatad/xcschemes/GBDeviceInfo-iOS.xcscheme
GBDeviceInfo-master/GBDeviceInfo.xcodeproj/xcuserdata/taras.xcuserdatad/xcschemes/xcschememanagement.plist
Resorces/Sounds.zip
icon.png
